/*My Last Trip Before covid-19 Stylesheet
Some styles adapted from the following sources:
https://www.w3schools.com/css/css_navbar_horizontal.asp
*/

body {
    background-color: lightcyan;
    font-family: 'Arial', sans-serif;
}

div {
    width: 80%;
    justify-content: center;
    padding: 20px;
}

img {
    width:80%;
}

.NavBar {
    background-color: #333;
}

.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.NavBar li {
    float: left;
}

.NavBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.NavBar li a:hover {
    background-color: #111;
}