/*My Last Trip Before covid-19 Stylesheet
*/

body {
    background-color: none;
    font-family: Verdana,sans-serif;
}

footer {
    text-align: center;
}

h1,h2,h3 {
    text-align: center;
}

div {
    width: 80%;
    text-align: left;
    margin: auto;
    padding: 10px;
    background-color: lightgray;
}

p {
    padding-left: 150px;
    padding-right: 150px;
}

ul {
    padding-left: 200px;
    padding-right: 200px;
}

figure {
    padding: 10px;
    display: table;
}

figcaption {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    display: table-caption;
    caption-side: bottom;
    width: 70%;
}

img {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(63, 63, 63);
    width: 70%;
    display: block;
    margin: auto;
}

#headshot {
    width: 20%;
}

/* Navigation Bar Formatting adapted from https://www.w3schools.com/css/css_navbar_horizontal.asp */
.NavBar {
    background-color: #333;
}

.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.NavBar li {
    float: left;
}

.NavBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.NavBar li a:hover {
    background-color: #111;
}